header {
    display: flex;
    justify-content: center;
    background-color: black;
    border: 1px black solid;
    text-align: center;
}

h1 {
    color: white
}

.searchBar {
    height: 30px;
    background-color: #4d4d4d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filters {
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.printType {
    margin-right: 10%;   
}
